<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <link rel="canonical" href="/" />
        <title>Index</title>
        <meta charset="utf-8" />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="all" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="" />
        <!-- <meta name="csrf-token" content="{{ csrf_token() }}" /> -->
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="keyword" content="" />
        <!-- <link rel="manifest" href="{{ asset('manifest.json') }}" /> -->
        <!-- <link rel="icon" href="{{ asset('img/favicon.ico') }}" /> -->

        <meta name="msapplication-TitleColor" content="" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Material+Icons"
        />
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a class="active" href="/">Shop</a>
                    </li>
                    <li class="main-header__item">
                        <a href="/admin/products/create">Add Product</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Products</h1>
            <p>List of the products...</p>
        </main>
    </body>
</html>
